@page
@model CIDM3312__FinalProject.Pages_Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary float end my-2">Create New Recipe</a>
</p>

<div class="row">
    <form class="d-flex" role="search" asp-page="./Index" method="get">
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input class="form-control me-2" type="search" name="CurrentSearch" value="@Model.CurrentSearch" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="col-12 mb-3">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @{
                        //Alternate sort order
                        var titleSort = "title_asc";
                        if (Model.CurrentSort == "title_asc")
                        {
                            titleSort = "title_desc";
                        }
                    }
                    <a asp-page="./Index" asp-route-CurrentSort="@titleSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model => model.Recipe[0].Title)</a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].RecipeIngredients)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Instructions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].CookTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].DateAdded)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Recipe) {
            <tr>
                <td>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                </td>
                <td>
                @foreach (var ingredient in item.RecipeIngredients!)
                {
                    <p>@ingredient.Quantity @ingredient.Ingredient.DefaultUnit @ingredient.Ingredient.Name  <br /></p>
                }
                @if (item.RecipeIngredients.Count == 0)
                {
                    @:No Ingredients
                }  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CookTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RecipeID" class="btn btn-primary float end my-2">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.RecipeID" class="btn btn-primary float end my-2">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.RecipeID" class="btn btn-primary float end my-2">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<hr />
@{
    var prevDisabled = "";
    var nextDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    if (Model.PageNum >= Model.TotalPages)
    {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-CurrentSort="@Model.CurrentSort" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-CurrentSort="@Model.CurrentSort" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>
